#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 10000;
  background: url("/public/Fon3.jpg") no-repeat;
  background-size: 100% auto;
  background-position: top left;
  background-attachment: fixed;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
}

header h1 {
  font-size: 2rem;
}

input, button {
  background-color: #eee;
  border: none;
  padding: 10px 15px;
  margin: 8px 0;
  font-size: 1rem;
  line-height: 1.2;
  box-sizing: border-box; 
  background-color: #fff;
}

button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #fff; 
  border: none; 
  font-size: 1rem; 
  line-height: 1.2;
  box-sizing: border-box;
}

button img {
  max-height: 1em; 
  max-width: 1em; 
}
main {
  padding-top: 200px; 
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.5rem;
  }
  input, button {
    height: 20px;
  }
  main {
    padding-top: 150px; 
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1rem;
  }
  input, button {
    height: 10px; 
  }
  main {
    padding-top: 120px; 
  }
}


